section.layout {
  /* Centered section with rounded borders and cristal effect */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5% auto;
  padding: 1rem;
  padding-bottom: 3rem;
  width: 90%;
  border-radius: 1rem;
  background-color: var(--color-gray-200);
}

section.layout > h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 3rem;
}
