:root {
  /* light colors: white, gray, dar */
  --color-white: #fff;
  --color-gray-200: #f4f7fb;
  --color-gray-400: #dce3eb;
  --color-gray-600: #8493aa;
  --color-gray-800: #2d3748;
  --color-black: #000;
}

body {
  background-color: var(--color-gray-400);
  color: var(--color-gray-800);
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
